#environmental variables
*.env

#log files
*.log

#cache
__pycache__
cogs/__pycache__

#misc
verified_tokens.json
all_tokens.json

#.py
get_all_minswap_tokens.py
testcode.py
#csv
*.csv

#csv
*.csv

#folder
archive