#environmental variables
*.env
.dockerignore
fly.toml
Dockerfile

#log files
*.log

#cache
__pycache__
cogs/__pycache__

#misc
*.json
secrets.txt

#.py
testcode.py
cogs/trending.py

#csv
*.csv


#folder
archive
.vscode
.venv
