#environmental variables
*.env

#log files
*.log

#cache
__pycache__
cogs/__pycache__

#misc
verified_tokens.json
all_tokens.json
*.json
secrets.txt

#.py
get_all_minswap_tokens.py
testcode.py
cogs/asset_total.py
# get_volume.py
#csv
*.csv


#folder
archive
registered_users.txt
